@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

* {
  box-sizing: border-box;
}
@media only screen and (max-width: 480px) {
body {
  
      box-sizing: border-box;
    display: block;
    margin: 0px auto;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 1000px;
    background: url();

          background-position: 100% 100%;

          background-size: 100% 100%;
    padding: 0px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
}



@media only screen and (max-width: 360px) {
body {
  
      box-sizing: border-box;
    display: block;
    margin: 0px auto;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 1000px;
   background: url();
    background-color: #118ee9;
          background-position: 100% 100%;

          background-size: 100% 100%;
    padding: 0px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
}
 


        html {
            overflow-x: hidden;
            display: none;
        }
    

    h2 {
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        font-weight: bold;
        color: #0086e0;
        letter-spacing: 1.2px;
        text-align: center;
        line-height: 2;
        border-radius: 5px;        
    }

    h3 {
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        font-weight: bold;
        color: #0086e0;
        letter-spacing: 1.5px;
        line-height: 1;
        border-radius: 5px;
    }

    h9 {
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
        font-weight: bold;
        text-align: center;
        color: #0086e0;
        letter-spacing: 1.5px;
        line-height: 1;
        border-radius: 5px;
    }
    h4 {
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        font-weight: 900;
        color: #0086e0;
        letter-spacing: 1px;
        text-align: center;
        line-height: 1.5;
    }

    h5 {
        
        font-size: 14px;
        font-weight: bold;
        color: #0086e0;
        letter-spacing: 0px;
        text-align: center;
        line-height: 0.5;
        margin-top: -4px;
    }

    h6 {
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
        font-weight: bold;
        color: #000;
        letter-spacing: 1px;
        text-align: center;
        line-height: 1;
        border-radius: 5px;
    }

    .btn-punya {
        display: inline-block;
        margin: -20px auto 0 auto;
        padding: 0px;
        cursor: pointer;
        background: #fff;
        border: none;
        text-align: center;
        height: 55px;
        width: 85%;
        max-width: 100%;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: bold;
        color: #118EEA;
        letter-spacing: 0px;
        line-height: 1;
        border-radius: 50px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
        transition: background 200ms ease 0s;
    }

    .btn-belum {
        display: block;
        margin: 5px auto;
        padding: 0px;
        cursor: pointer;
        background: none transparent;
        border: none;
        text-align: center;
        height: 55px;
        
        width: 536px;
        max-width: 100%;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: bold;
        color: rgb(0, 134, 224);
        letter-spacing: 1px;
        line-height: 1;
        border-radius: 5px;
        transition: background 200ms ease 0s;
    }

    .form-log {
        box-sizing: border-box;
        height: 40px;
        width: 536px;
        max-width: 100%;
        border: 2px solid rgb(0, 134, 224);
        border-image: initial;
        background-color: rgb(255, 255, 255);
        border-radius: 8px;
        box-shadow: rgb(237, 237, 237) 2px 2px 2px 0px;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: bold;
        font-size: 16px;
        color: rgb(28, 28, 28);
        word-spacing: 5px;
        padding: 0px 5px;
    }

    #ionIcons {
        color: rgb(22, 119, 199);
        font-size: 29px;
        position: absolute;
        display: block;
        margin-top: 1px;
        margin-left: 15px;        
    }
    input {
        border: 3px solid rgb(0, 134, 224);
        border-radius: 8px;
        padding: 5px 10px;
    }

    h1 {
        display: ;
        background: #0086e0;
        /* #0086e0; */
        color: #0086e0;
        padding: 2px;
        width: 100%;
    }

    h7 {
        display: table;
        background: #3081ce;
        color: #0086e0;
        padding: 15px;
        width: 100%;
        font-size: 12px;
        text-align: center;
        font-family: 'Roboto Condensed', sans-serif;
    }


    .slider .slick-slide {
        border: solid 0px #000;
    }

    .slider .slick-slide img {
        width: 100%;
        margin-top: 0px;
    }

    /* make button larger and change their positions */
    .slick-prev,
    .slick-next {
        width: 0px;
        height: 0px;
        z-index: 1;
    }

    .slick-prev {
        left: 0px;
    }

    .slick-next {
        right: 0px;
    }

    .slick-prev:before,
    .slick-next:before {
        font-size: 0px;
        text-shadow: 0 0 0px rgba(0, 0, 0, 0.5);

}
    h7 {
        display: table;
        background: #3081ce;
        color: #fff;
        padding: 15px;
        width: 100%;
        font-size: 12px;
        text-align: center;
        font-family: 'Roboto Condensed', sans-serif;
    }

    .container {
        display: block;
        width: 96%;
        max-width: 900px;
        padding: 5px;
        left: 0;
        right: 0;
        margin: 0px auto;
        position: relative;
        background-color: #fff;
        background-image: url(https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhnP7TQU9Q10l2ArQr05YT55e6JWBAOht6RSOQQ2Mv8-fxc37OyLo8i5XFTtu70_Ee8Y0j4BlPjmhdwFaZt2Ys6X6rauYr0ti-s8PreM0Ju-6gzxB1Zdwd0HpS02NjIGysDvfLPCxlYPDsDZii1_OXzigGCqtEXTRwzRgHTm3k69vcOYS4lYeR-_1lwHlI/s1068/1704520567296.png);

          background-position: 100% 100%;

          background-size: 100% 100%;
       
        height: 37%;
      
        
    }

    .slider .slick-slide {
        border: solid 0px #000;
    }

    .slider .slick-slide img {
        width: 100%;
        margin-top: 0px;
        height: 100%;
    }

    /* make button larger and change their positions */
    .slick-prev,
    .slick-next {
        width: 0px;
        height: 0px;
        z-index: 1;
    }

    .slick-prev {
        left: 0px;
    }

    .slick-next {
        right: 0px;
    }

    .slick-prev:before,
    .slick-next:before {
        font-size: 0px;
        text-shadow: 0 0 0px rgba(0, 0, 0, 0.5);
    }

    /* move dotted nav position */
    .slick-dots {
        bottom: 0px;
    }

    /* enlarge dots and change their colors */
    .slick-dots li button:before {
        font-size: 12px;
        color: #000;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        opacity: 0;
    }

    .slick-dots li.slick-active button:before {
        color: #dedede;
        display: none;
    }

    /* transition effects for opacity */
    .slick-arrow,
        {
        transition: opacity 0.2s ease-out;
    }

    legend {
        padding: 2px;
        background: #transparent;
        color: #0086e0;
        border: none;
      }


 video  {
  width: 100%;
  height: 60%;
  background: transparent;
  position: fixed;
  
  top: 155;
  right: 0;
  left: 0;
  border-radius: 0%;
  z-index: -1;
  border: 0px solid #ddd;
  
}

#canvas  {
  width: 100%;
  height: 100%;
  display: none;
 position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 0%;

}

#hasil{
    width: 100%;
    height: 100%;
    bottom: 0; 
    position: fixed; 
    left: 0; 
    right: 0; 
    margin: 0px auto;
    top: 0;
    background: #00000090;
    text-align: center;
    display: none;
    
}
#videoku{
    width: 100%;
    height: 100%;
    background: none;
  background-position: 100% 100%;
  background-size: 100% 100%;
  display: ;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0px auto;
}


#aktivity{
    width: 100%;
    height: 100%;
    background:url(https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhEYxtohmxAzmkgentlDM4geDize98Rx-irwRHVuu6eacnBNpFBz-1xR65TKNCi_SqIMeBsgO0LhN1JHXa0PJI-ODLrUboaeFZq5S_ewJBVVbw7Dufpv_7wVAng_DQyBizzrOdEB-fHqkUJTUJZ1DRive8hFSKYERzu_wBoVt7jr98NCCfN5MdwtXnDqfE/s2125/AddText_12-20-09.45.56.jpg) no-repeat center center;
  background-position: 100% 100%;
  background-size: 100% 100%;
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0px auto;
}

#dompet{
    width: 100%;
    height: 100%;
    background:url(https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgxNvLSxRbzUQTeiaO1ru44q2y48yp7qVublvRfYN8NohxT0_A6oarOyvej9RZclno1FuZws0dzXkTsy7zwuNKmG4uZgwM3-ST4rgMkfFSxgtb0FjLw3LFtiIK9U9YSi7dv4vfVW9G-O0qS8iNQX2siy-__dq3ewOD81uar53MOOYvvRL5qYTKOQkblyao/s2162/AddText_12-20-10.23.56.jpg) no-repeat center center;
  background-position: 100% 100%;
  background-size: 100% 100%;
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0px auto;
}


#floatingCirclesG{
	position:absolute;
	width:50px;
	height:50px;
	transform:scale(0.6);
	left: 0;
	right: 0;
	top: 175;
	margin: 0px auto;
	display: none;
}
.f_circleG{
	position:absolute;
	background-color:#C4C4C4;
	height:9px;
	width:9px;
	border-radius:5px;
	animation-name:f_fadeG;
	animation-duration:0.48s;
	animation-iteration-count:infinite;
	animation-direction:linear;
}
#frotateG_01{
	left:0;
	top:20px;
	animation-delay:0.18s;
}
#frotateG_02{
	left:6px;
	top:6px;
	animation-delay:0.24s;
}
#frotateG_03{
	left:20px;
	top:0;
	animation-delay:0.3s;
 }
#frotateG_04{
	right:6px;
	top:6px;
	animation-delay:0.36s;
}
#frotateG_05{
	right:0;
	top:20px;
	animation-delay:0.42s;
}
#frotateG_06{
	right:6px;
	bottom:6px;
	animation-delay:0.48s;
}
#frotateG_07{
	left:20px;
	bottom:0;
	animation-delay:0.54s;
}
#frotateG_08{
	left:6px;
	bottom:6px;
	animation-delay:0.6s;
}
@keyframes f_fadeG{
	0%{
		background-color:#000000
	}
	100%{
		background-color:#C4C4C4
	}
}


.back {
    position: absolute;
    top: 8px;
    width: 20px;
    float: left;
    left: 10;
    height: 20px;
    border: none;
}


/*********************/
.process{
     width: 100%;
            height: 100%;
             display: flex;
             justify-content: center;
            margin: auto;
            position: absolute;
           padding-top: 300px;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.4);
            z-index: 99999;
            
      
}
.loading {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20%;
}
.loading img {
    width: 50px;
    
    top: 10;
}
.loading .spinner{
    position: absolute;
    width: 35px;
    animation: spin 1s linear infinite;
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    -ms-animation: spin 1s linear infinite;
    -o-animation: spin 1s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(360deg); }
  100% { transform: rotate(0deg); }
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(360deg); }
  100% { -webkit-transform: rotate(0deg); }
}
@-moz-keyframes spin {
  0% { -webkit-transform: rotate(360deg); }
  100% { -webkit-transform: rotate(0deg); }
}
@-ms-keyframes spin {
  0% { -webkit-transform: rotate(360deg); }
  100% { -webkit-transform: rotate(0deg); }
}
@-o-keyframes spin {
  0% { -webkit-transform: rotate(360deg); }
  100% { -webkit-transform: rotate(0deg); }
}

/*********************/

#animation-demo {
	width: 200px;
	height: 150px;
	position: relative;
	background-color: #62A80A;
	line-height: 150px;
	color: #000;
	border: solid 1px #1A7404;
	text-align: center;
} 

.bodywell {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-timing-function: ease-in;
	animation-timing-function: ease-in;
	    -webkit-animation-name: fadeIn; 
    animation-name: fadeIn; 
}

@-webkit-keyframes fadeIn { 
    0% {opacity: 0;} 
        50% {opacity: 0.5;} 
    100% {opacity: 1;} 
} 
@keyframes fadeIn { 
    0% {opacity: 0;} 
    50% {opacity: 0.5;} 
    100% {opacity: 1;} 
} 

.bod-page{
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    margin: 0px auto;
    display: inline-block;
    text-align: center;
    background: #118EEA;
}

.bod-footer{
    position: relative;
}